* {
    font-family: "Manrope", sans-serif;
}

.flight-search-selector {
    padding: 10px 40px 10px 10px; /* Padding to make room for the custom logo */
    border: none;
    border-radius: 10px; 
    background-color: #fff;
    color: #336749;
    font-size: 20px;
    /* width: 25%;*/
    display: block; /* Ensures it takes up space */
    margin: 0 auto; /* Horizontally center the select element */
    background-image: url('../../public/dropdownicon.png'); /*Custom logo */
    background-repeat: no-repeat; /* Prevent repeating the logo */
    background-position: right 10px center; /* Position logo on the right side */
    background-size: 25px 25px; /* Adjust size of the logo */
    -webkit-appearance: none; /* Remove default styling in some browsers */
    -moz-appearance: none; /* Remove default styling in some browsers */
    appearance: none; /* Remove default styling in all browsers  */
    font-weight: 600;
  }
  
  .flight-search-selector {
    cursor: pointer; /* Change cursor to pointer */
  }

  .flight-search-selector option:hover {
    background-color: #336749 !important; /* Change color on hover */
    color: #fff; /* Optional: Change text color on hover */
  }

  .flight-search {

    border: 2px solid black;
  }

  /* swap icon between departure and arrival container */
  .swap-icon {
    width: 35px;
    height: 35px;
  }



  .date-selector-hidden-datepicker {
    display: none; /* Hide the DatePicker input if desired */
  }
  
  .date-selector-outer-container {
    border: 2px solid #d4d4d4;
    border-radius: 12px;
    width: 190px;
    height: 65px;
  }

  .date-selector-outer-container p {
    display: inline-flex; 
    position: relative; 
    top: -19px; 
    left: 10px; 
    font-size: 12px; 
    font-weight: 400; 
    color: #336749; 
    background-color: white; /* set back ground to white so it cuts the border */
    padding-left: 5px;
    padding-right: 5px;
  }

  .date-selector-inner-container {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    padding-top: 12px;
    padding-left: 0px;
    position: relative;
    top: -45px;
    width: 190px;
  }

  .date-selector-calendar-icon {
    width: 25px;
    height: 25px;
  }

  .date-selector-date-display {
    font-size: 20px;
    font-weight: 600;
    position: absolute;
    left: 38px;
    color: #1F2937;
  }
  
  .date-selector-division-icon {
    position: relative;
    left: 35px;
    width: 6px;
    height: 25px;
  }

  .date-selector-day-month-display {
    position: relative;
    left: 48px;
    color: #1F2937;
  }

  .date-selector-mmmyy-display {
    font-size: 12px;
    color: #737373;
    font-weight: 400;
  }

  .date-selector-dropdown-icon {
    position: relative;
    left: 70px;
    width: 25px;
    height: 25px;
  }

  .date-selector-day-display {
    font-size: 16px;
    font-weight: 600;
  }

  .port-selector-outer-container p {
    display: inline-flex; 
    position: relative; 
    top: -19px; 
    left: 10px; 
    font-size: 12px; 
    font-weight: 400; 
    color: #336749; 
    background-color: white; /* set back ground to white so it cuts the border */
    padding-left: 6px;
    padding-right: 6px;
  }
  
  .port-selector-outer-container {
    border: 2px solid #d4d4d4;
    border-radius: 12px;
    width: 350px;
    height: 65px;
  }

  .port-selector-inner-container {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    padding-top: 12px;
    padding-left: 0px;
    position: relative;
    top: -45px; 
    width: 350px;
  }


  .port-selector-plane-icon {
    width: 25px;
    height: 25px;
  }

  .port-selector-port-code {
    font-size: 20px;
    font-weight: 600;
    position: relative;
    left: 10px;
    color: #1F2937;
  }

  .port-selector-division-icon {
    position: relative;
    left: 15px; 
    width: 6px;
    height: 25px;
  }

  .port-selector-city-display {
    font-size: 16px;
    position: relative;
    left: 30px;
    color: #1F2937;
  }

  .port-selector-airport-display {
    font-size: 12px;
    position: relative;
    left: 30px; 
    color: #737373;
    font-weight: 400;
  }

  .port-selector-dropdown-icon {
    position: relative;
    left: 17px;
    width: 25px;
    height: 25px;
  }