
.inputbox-outer-container {
    /* display: inline-block; */
    justify-content: center; 
    align-items: center;     
    position: relative;
    border: 2px solid #d4d4d4;
    border-radius: 12px;
    height: 65px;
    width: 190px; 
    flex: 0 0 auto;
    margin: 5px;
    background-color: white; /* Match label background */
  }
  
  .inputbox-inner-container {
    position: relative;
    display: block; 
    height: 100%; 
    align-items: center; 
    justify-content: center; 
    padding: 15px;
  }
  
  .inputbox-code-label {
    display: inline-flex; 
    position: absolute; 
    top: -10px; 
    left: 8px; 
    font-size: 12px; 
    font-weight: 400; 
    color: #336749; 
    background-color: white; 
    padding-left: 5px;
    padding-right: 5px;
  }
  
  .inputbox-input {
    border: 2px solid white;
    outline: none;
    font-size: 16px;
    font-weight: 400;
    color: #1F2937;
    background-color: transparent;
    width: 100%;
  }
  
  .inputbox-input::placeholder {
    color: #737373; /* Placeholder color */
    font-weight: 400;
  }
  
  
  