/* Navbar styles */
.nav {
  background-color: #007A8C;
}

.logo-name {
  font-size: 28px;
}

.nav .navbar-brand,
.nav .nav-link {
  color: white;
}

.nav-link {
  font-size: 20px;
}

.nav .nav-link:hover {
  color: #336749; 
  transform: scale(1.1);
}

.logo {
  width: 165px;
  height: 60px;
  margin-right: 15px;
  padding: 10px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Mobile view adjustments */
@media (max-width: 991px) {
  .navbar-toggler {
    margin-left: auto;
  }

  .navbar-collapse {
    text-align: center;
  }
}

@media (max-width: 576px) {
  .navbar-brand {
    margin: 0 auto;
  }

  .navbar-toggler {
    margin-left: auto;
    margin-right: auto;
  }
}
