.nav {
  background-color: #007A8C;
}

.logo-name {
  font-size: 28px;
}

.nav .navbar-brand,
.nav .nav-link {
  color: white;
}

.nav-link {
  font-size: 20px;
}

.nav .nav-link:hover {
  color: #336749; 
}

.logo {
  width: 165px;
  height: 60px;
  margin-right: 15px;
  padding: 10px;
}
