.port-selector-outer-container {
    position: relative;
    border: 2px solid #d4d4d4; 
    border-radius: 12px;
    height: 65px;
    width: 300px;
    flex: 0 0 auto;
  }
  
  .port-selector-label {
    display: inline-flex;
    position: absolute;
    top: -10px;
    left: 8px;
    font-size: 12px !important;
    font-weight: 400;
    color: #336749;
    background-color: white;
    padding-left: 5px;
    padding-right: 5px;
  }
  
  .port-selector-inner-container {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  
  .port-selector-icons {
    width: 25px;
    height: 25px;
  }
  
  .port-selector-plane-icon {
    position: absolute;
    left: 10px;
  }
  
  .port-selector-port-code {
    position: absolute;
    left: 42px;
    font-size: 20px;
    font-weight: 600;
    color: #1F2937;
  }
  
  .port-selector-division-icon {
    position: absolute;
    left: 84px;
    width: 6px;
    height: 25px;
  }
  
  .port-selector-city-airport-display {
    display: inline-block;
    position: absolute;
    left: 100px;
  }
  
  .port-selector-city-display {
    color: #1F2937;
    font-size: 16px;
    font-weight: 600;
  }
  
  .port-selector-airport-display {
    font-size: 12px;
    color: #737373;
    font-weight: 400;
  }
  
  .port-selector-dropdown-icon {
    position: absolute;
    right: 10px;
    width: 25px;
    height: 25px;
  }
  
  .port-selector-dropdown {
    position: absolute;
    top: 100%;
    left: -2px;
    width: 300px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    max-height: 200px; /* Optional: limit height for large lists and make it scrollable */
    overflow-y: auto;
    margin-top: 5px;
  }
  
  .port-selector-dropdown-item {
    padding: 10px 15px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .port-selector-dropdown-item:hover {
    background-color: #f0f0f0;
  }
  
  .port-select-dropdown-options {
    font-size: 12px;
    color: #555;
  }
  