.flight-type-selector-container {
    position: relative;
    width: 300px;
    margin-bottom: 20px;
  }
  
  .flight-type-selector-label {
    display: inline-flex;
    position: absolute;
    top: -10px;
    left: 8px;
    font-size: 12px !important;
    font-weight: 400;
    color: #336749;
    background-color: white;
    padding-left: 5px;
    padding-right: 5px;
  }
  
  .flight-type-selector {
    width: 100%;
    height: 50px;
    padding: 10px;
    padding-right: 40px; /* Space for the custom arrow */
    border: 2px solid #d4d4d4;
    border-radius: 12px;
    background-color: white;
    font-size: 16px;
    color: #1F2937;
    appearance: none; /* Remove default arrow */
  }
  
  .flight-type-selector-arrow {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 25px;
    height: 25px;
    pointer-events: none; /* Prevent the arrow from interfering with clicks */
  }
  
  .flight-type-selector:focus {
    border-color: #336749;
    outline: none;
  }
  
  